.user-container{
    background-color: antiquewhite;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

}

#user-img{
    height: 100px;
    border-radius: 50%;
}